<%= form_for(@comment) do |f| %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <%= f.hidden_field :commentable_id, :value => @comment.commentable_id %>
  <%= f.hidden_field :cresource, :value => @cresource %>
  <div class="row collapse">
    <div class="small-3 columns">
      <%= f.label :published, class: "right inline", title: "Is this article published?", data: {tooltip: true } %><br>
    </div>

  </div>

  <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
